body {
  text-align: center;
  background-color: #231C07;
  color: #B89A56;
  font-size: 0.9vw;
  font-family: 'Ubuntu Mono', monospace;
}

h1 {
  font-family: 'Geo', sans-serif;
  text-decoration: underline;
  padding-bottom: 10px;
}
h2 {
  font-size: 1.4em;
}

h3 {
  font-weight: bold;
  padding-bottom: 10px;
  margin: 0;
}

h4 {
  padding-left: 20px;
  font-family: 'Ubuntu Mono', monospace;
}

h5 {
  margin: 0;
}

p {
  font-family: 'Ubuntu Mono', monospace;
}

button {
  font-family: 'Ubuntu Mono', monospace;
}

.board-container {
  margin-top: 0.5%;
  width: 60%;
  float: left;
}

.grid {
  display: inline-block;
  width: 90%;
  border: 3px outset #B89A56;
}

.board-element {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 5%;
  height: 2.4vw;
  float: left;
}

.transparent {
  opacity: 0;
}

.tile {
  background-color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("/img/background/matrix.gif");
}

.player {
  position: absolute;
  height: 100%;
  width: 100%;
}

.gotcha {
  position: absolute;
  height: 100%;
  width: 100%;
}

.enemy {
  position: absolute;
  height: 100%;
  width: 100%;
}

.ui-container {
  width: 35%;
  height: 47.6vw;
  margin-top: 0.5%;
  margin-left: 4%;
  float: left;
}

.ui-console {
  border: 3px outset #B89A56;
  height: 60%;
  background-color: #222;
  color: #39FF14;
}

.ui-heading {
  height: 10%;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 1.3em;
}

.ui-terminalLog {
  max-height: 60%;
  font-size: 1.4em;
  text-align: left;
  padding: 0 50px;
}

.ui-playerStats {
  background-color: #635516;
  border: 3px outset #B89A56;
  height: 40%;
  color: #eee;
}

.ui-statsLog {
  text-align: left;
  font-size: 1.4em;
  padding-left: 50px;
}

.player-stats-left-align {
  float: left;
  width: 50%;
}

.item {
  position: absolute;
  height: 100%;
  width: 100%;
}

.display-screen {
  border: 5px outset #B89A56;
  height: 48.6vw;
}

.display-screen-info {
  font-size: 1.4em;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 0px 40px;
}
.display-screen-howToPlay {
  font-size: 1.2em;
  float: left;
  width: 100%;
  padding: 0;
}

.choose-class-container {
  background-color: #B3977F;
}

.new-player-class {
  width: 33%;
  float: left;
  margin: auto;
}

.class-info-left {
  height: 400px;
  width: 300px;
  background-color: #635516;
  border: 4px outset #B89A56;
  margin: 0 0 0 auto;
}

.class-info-middle {
  height: 400px;
  width: 300px;
  background-color: #635516;
  border: 4px outset #B89A56;
  margin: auto;
}

.class-info-right {
  height: 400px;
  width: 300px;
  background-color: #635516;
  border: 4px outset #B89A56;
  margin: 0 auto 0 0;
}


.class-picture {
  height: 40%;
  width: 80%;
  margin: 20px auto;
  border: 4px outset #B56A3C;
  background-color: #B89A56;
}

.class-img {
  margin: 25px;
  background-color: transparent;
  height: 100px;
}

.class-starting-stats {
  text-align: left;
  padding: 0px 30px;
  font-size: 1.3em;
}

.start-game-button {
  background-color: #B56A3C;
  height: 60px;
  width: 260px;
  border: 5px outset #B89A56;
  font-size: 1.5em;
  margin: 15px auto;
  top: 77%;
}

.img-background{
  width: 100%;
  height: 100%;
}

.img-background-wall{
  width: 100%;
  height: 100%;
}

.img-background-floor{
  width: 100%;
  height: 100%;
}

.img-enemy {
  width: 80%;
  height: 80%;
}

.img-item {
  width: 100%;
  height: 100%;
}

.img-player {
  width: 100%;
  height: 100%;
}

.img-trap {
  width: 95%;
  height: 90%;
}

.attacked {
  animation:blink 240ms 5ms;
  color: inherit;
}

.no-underline {
  text-decoration: none !important;
}

.no-padding {
  margin: 0;
  padding: 20px 0 0 0;
}

@keyframes blink {
  from { opacity:1; }
  to { opacity:0; }
  0% {background-color: none}
  100% {background-color: red}
  0% {color: none}
  100% {color: red}
}
