main {
  text-align: center;
}

.board-container {
  margin-left: 5%;
  width: 60%;
  float: left;
}

.grid {
  background-color: lightgray;
  display:inline-block;
  width:100%;
}

.board-element {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 5%;
  height: 2.5vw;
  border: 1px solid black;
  float: left;
}

.tile {
  background-color: lightblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.player {
  position: absolute;
  height: 100%;
  width: 100%;
}

.enemy {
  position: absolute;
  height: 100%;
  width: 100%;
}

span {
  position: relative;
  vertical-align: middle;
}

.ui-container {
  width: 30%;
  float: left;
  border: 1px solid black;
}
