main {
  text-align: center;
}

span {
  vertical-align: middle;
  transform: translate(0, -50%);
}

.grid {
  background-color: lightgray;
  display:inline-block;
  width:50%;
}

.tile {
  background-color: lightblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.player {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.board-element{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 5%;
  height: 2.5vw;
  border: 1px solid black;
  float: left;
}
