main {
  text-align: center;
}

.board-container {
  margin-left: 5%;
  width: 60%;
  float: left;
}

.grid {
  background-color: lightgray;
  display: inline-block;
  width: 90%;
}

.board-element {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  width: 5%;
  height: 2.4vw;
  border: 1px solid black;
  float: left;
}

.tile {
  background-color: lightblue;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
}

.player {
  position: absolute;
  height: 100%;
  width: 100%;
}

.enemy {
  position: absolute;
  height: 100%;
  width: 100%;
}

span {
  position: relative;
  vertical-align: middle;
}

.ui-container {
  width: 30%;
  height: 96vh;
  float: left;
}

.ui-console {
  border: 3px solid black;
  height: 60%;
  background-color: #222;
  color: #39FF14;
}

.ui-heading {
  height: 10%;
}

.ui-terminalLog {
  max-height: 90%;
  text-align: left;
  padding-left: 50px;
}

.ui-playerStats {
  border: 1px solid black;
  height: 40%;
}
